body {
	font-family: "Open Sans", sans-serif;
}

#main_table {
	padding-top: 8px;
}

#main_table_length,
.dataTables_filter {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  #main_table_length,
  .dataTables_filter {
    margin-bottom: 12px;
  }
}

th,
tr,
td {
	border: 1px solid black;
	border-collapse: collapse;
}

.profile_image,
.profile_banner {
	text-align: center;
	max-width: fit-content;
}

.profile_image {
	width: 100px;
}

.profile_image img {
	max-height: 100px;
	max-width: 100px;
	object-fit: cover;
}

.profile_banner {
	min-width: 200px;
}

.profile_banner img {
	max-width: 200px;
	max-height: 100px;
	object-fit: cover;
}
.nick {
	white-space: nowrap;
}

.description {
	max-height: 100px;
	min-width: 400px;
	font-size: small;
}

.name {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: darkgreen;
	font: bold;
}
