:root {
    --main-color: aquamarine;
    --animation-time: 0.4s;
}

body {
    background-color: #1e1e1e;
    margin: 0; /* Remove default margin */
    font-family: 'Roboto', sans-serif;
    align-items: center;
    text-align: center;
}

h1 {
    color: whitesmoke;
    text-align: center;
}

#profileContainer {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
    padding: 20px;
    align-items: center;
    margin: auto;
}
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 10px;
    padding: 20px;
    /* transition: height 5s, width 0.5s ease-in-out, border 0.5s ease, box-shadow 0.5s ease; Adjust the transition duration */
    color: whitesmoke;
    border: 0.2px solid rgba(54, 125, 101, 0.5);
    border-radius: 12px;
    background: #1e1e1e;
    box-shadow: 6px 6px 10px #121212, -6px -6px 10px #2a2a2a;
}

.profile-card {
    /* Other styles... */
    height: auto;
    overflow: hidden; /* Hide content exceeding max-height */
    transition: height 5s, width var(--animation-time) ease-in-out, border var(--animation-time) ease, box-shadow var(--animation-time) ease; 
    /* Other styles... */
}

.profile-card.closed {
    height: auto; /* Set max-height to 0 when the card is closed */
    transition: height 5s, width var(--animation-time) ease-in-out, border var(--animation-time) ease, box-shadow var(--animation-time) ease; 
    /* Other styles... */
}


.profile-card:hover {
    border: 0.2px solid aquamarine;
    transition: height var(--animation-time), width var(--animation-time) ease-in-out, border var(--animation-time) ease, box-shadow var(--animation-time) ease; /* Adjust the transition duration */
    box-shadow: 11px 11px 22px #0c0c0c, -11px -11px 22px #303030;
}

.profile-card::before {
    transition: height 0.7s;
}

.profile-card:after {
    transition: height 0.7s;
}


.profile-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 10px; /* Add space between the image and text */
    margin-bottom: 10px; /* Add space between the image and text */
    object-fit: cover;
    transition: width var(--animation-time) ease-in-out, border var(--animation-time) ease, box-shadow var(--animation-time) ease, scale var(--animation-time) ease-in-out; /* Adjust the transition duration */
    background: #1e1e1e;
    background: linear-gradient(145deg, #202020, #1b1b1b);
    box-shadow:  5px 5px 20px #161616,
                 -5px -5px 20px #262626;

    /* border-radius: 50%;
    padding: 4px;
    background: #1e1e1e;
    box-shadow: inset 5px 5px 20px #181818,
                inset -5px -5px 20px #242424; */
}

.profile-card:hover .profile-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    scale: 105%;
    box-shadow: 0 0 35px rgba(68, 235, 204, 0.7);
    border: 0.1px solid inset aquamarine;
    transition: width var(--animation-time) ease-in-out, border var(--animation-time) ease, box-shadow var(--animation-time) ease, scale var(--animation-time) ease-in-out; /* Adjust the transition duration */
}

.profile-info {
    flex: 1;
    width: 100%; /* Ensure .profile-info takes up 100% width */
    text-align: left; /* Center text within .profile-info */
    overflow: hidden; /* Hide overflowing content */
}

/* Add ellipsis (...) to indicate text overflow */
.description,
.character,
.birth,
.tag,
.instagram,
.facebook,
.tiktok,
.url {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}


/* Add additional styling as needed */
.nick {
    font-size: 18px; /* Adjust font size */
    font-weight: bold;
    text-align: center;
    color:aquamarine;
    margin-bottom: 0 !important;
}

.name {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    color: gray;
    margin-top: 0 !important;
}
.date_line {
    display: inline-block;
    color: gray;
}

.date {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.date_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: left;
    color: whitesmoke;
    margin-right: 0px;
}

.date_icon path {
    fill: gray;
}

.fl {
    display: flex;
    gap: 20px;
}

.friends_count:after {
    content: " Following";
    color: gray; /* Set the color for the "Followers" text */
    font-weight: normal;
}

.followers_count:after {
    content: " Followers";
    color: gray; /* Set the color for the "Followers" text */
    font-weight: normal;
}

.post  {
    display: flex;
    direction: row;
    justify-content: space-between;
    margin: 0 5px 0 5px;

}

p {
    /* margin-bottom: 10px; */
}

a, a:visited, a:hover {
    color: aquamarine;
    text-decoration: none;
}

/* search button start */
.box {
    position: absolute;
    top: 45px; 
    right: 15px;
    transform: translateY(-50%);
    float: right; /* Align the box to the right */
    margin-right: 15px; /* Adjust the margin as needed */
    height: 50px; /* Set the height of the box */
    margin-bottom: 20px;
    overflow: hidden; /* Hide the overflow when transitioning width */
    transition: width 0.3s ease-in-out; /* Set a transition for the width property */
}

.input {
    padding: 10px;
    width: 50px;
    height: 50px;
    background: none;
    border: 4px solid aquamarine;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 26px;
    color: aquamarine;
    outline: none;
    transition: var(--animation-time);
}

.box:hover .input {
    width: 350px;
    background: #3b3640;
    border-radius: 10px;
}

.box i {
    position: absolute;
    top: 50%;
    right: 12px; /* Adjust the right positioning */
    transform: translateY(-50%); /* Simplified translation for centering vertically */
    font-size: 26px;
    color: aquamarine;
    transition: var(--animation-time);
}

.box:hover i {
    opacity: 0;
    z-index: -1;
}
/* search button end */


/* chip area */
.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap as needed */
  }
  
  .social-links p {
    margin: 0; /* Remove default margin for paragraphs */
  }
  
.instagram > a {
    background: linear-gradient(115deg, #eec32a, #ee2a7b, #6228d7);
    color: white;
    border-radius: 12px;
    display: inline-block; /* Make it an inline-block to wrap around the content */
    padding: 4px 8px; /* Add padding around the text */
    border-radius: 20px; /* Adjust the border-radius as needed */
    text-shadow: 1px 1px 1px #1e1e1e;
}

.tiktok > a {
    overflow: visible;
    background: linear-gradient(45deg, #000000, #333333);
    color: white;
    border-radius: 20px;
    display: inline-block;
    padding: 4px 8px;
    text-shadow: 1px 1px 1px #1e1e1e;
    box-shadow: inset 1px 1px 0px #ff0050, inset -1px -1px 0px #00f2ea; /* Use inset for inner shadows */
}

.facebook > a {
    overflow: visible;
    background: #316FF6;
    color: white;
    border-radius: 20px;
    display: inline-block;
    padding: 4px 8px;
    text-shadow: 1px 1px 1px #1e1e1e;
}

.url > a {
    background: #4ECDC4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: white;
    border-radius: 12px;
    display: inline-block; /* Make it an inline-block to wrap around the content */
    padding: 4px 8px; /* Add padding around the text */
    border-radius: 20px; /* Adjust the border-radius as needed */
    text-shadow: 1px 1px 1px #1e1e1e;
}


/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    border-radius: 50px;
    background: linear-gradient(145deg, #202020, #1b1b1b);
    box-shadow:  5px 5px 10px #151515,
                 -5px -5px 10px #272727;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: 2px solid #414141;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.2em;
    bottom: 0.2em;
    background-color: white;
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .switch input:checked + .slider {
    box-shadow: 0 0 20px rgba(68, 235, 204, 0.604);
    border: 2px solid aquamarine;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(1.5em);
  }